{% extends 'base.html' %}

{% block body %}
    <div class="intro">
        <div class="container_2">
            <div class="intro_inner">
                <h1 class="intro__title">
                    Computer-aided design systems
                </h1>
                <h2 class="intro_subtitle">
                    You can find out more here!
                </h2>
                <h2 class="intro_btn">
                    <a href="#h2" class="btn">More</a>
                </h2>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container_2">
            <div class="items">
                <div class="logo__item">
                    {% load static %}
                    <img src="{% static 'css/images/logo_1.jpg' %}" class="img_logo">
                </div>
                <h2 class="header_text" id="h2">
                    Programming
                </h2>
                <div class="p_text">
                    <p>
                        For some it is a pain and a problem, for some it is a practical way to keep in touch with friends, for others it is unjustified political fights in comments and a source of negativity, and for others it is a convenient tool to attract audiences to their business product. You can discuss at length the advantages and disadvantages of social networks, coming down to the norms of morality and generational differences.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
