{% extends 'base.html' %}

{% block body %}
    {% load static %}
    <div class="parent">
        <h2 class="team" >Saprgram Team</h2>
        <img src="{% static 'css/images/f1.jpg' %}" alt="" class="foto1">
        <img src="{% static 'css/images/f2.jpg' %}" alt="" class="foto2">
        <img src="{% static 'css/images/f3.jpg' %}" alt="" class="foto3">
        <img src="{% static 'css/images/f4.jpg' %}" alt="" class="foto4">
        <img src="{% static 'css/images/f5.jpg' %}" alt="" class="foto5">
    </div>
{% endblock %}
