<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>C-ADS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
</head>
<body class="body">
<header class="header">
    <div class="container">
        <div class="header_iner">
            <div class="header_logo">C-ADS</div>
            <nav class="nav">
                <a href="#" class="nav_link">Our team</a>
                <a href="#" class="nav_link">Forum</a>
                <a href="#" class="nav_link">About us</a>
                <a href="#" class="nav_link1">Sign up</a>
                <a href="#" class="nav_link1">Sign in</a>
            </nav>
        </div>
    </div>
</header>
<div class="intro">
    <div class="container">
        <div class="intro_inner">
            <h1 class="intro__title">
                Computer-aided design systems
            </h1>
            <h2 class="intro_subtitle">
                You can find out more here!
            </h2>
            <h2 class="intro_btn">
                <a href="#" class="btn">More</a>
            </h2>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="items">
            <div class="logo__item">
                {% load static %}
                <img src="{% static '/img/logo1.jpg' %}" class="img_logo">
            </div>
            <h2 class="header_text">
                Programming
            </h2>
            <div class="p_text">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    In ad expedita, perspiciatis id officiis laudantium aliquam excepturi,
                    doloribus modi recusandae distinctio aliquid a reprehenderit quas laborum hic explicabo minus illo.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    In ad expedita, perspiciatis id officiis laudantium aliquam excepturi,
                    explicabo minus illo.
                    laudantium aliquam excepturi,
                    explicabo minus illo.
                </p>
            </div>
        </div>
    </div>
</div>


</body>
</html>