<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Post</title>
</head>
<body>
{% for i in post %}
    <img src="{{ i.user_photos.url }}" alt="bad" height="600" width="900">
    {% for item in comments %}

        <p>{{ item.comment }}</p>
    {% endfor %}
{% endfor %}
</body>
</html>