{% extends 'main/base.html' %}

{% block body %}
    <form class="baza" , method="POST">
        {% csrf_token %}
        <div class="tabl">
            <h1>Sign in</h1>
            <div>
                {{ form.invalid_password_or_login }}
                <label for="username">Login</label>
                {{ form.login }}
                <label for="password">Password</label>
                {{ form.password }}
                <input type="checkbox" id="custom-checkbox">
                <label for="custom-checkbox">Remember me</label>
                <input type="submit" value="Send">
            </div>
    </form>

{% endblock %}